
h1{
    color: blue;
    font-size: xx-small;
}
p{
    color: aqua;
    font-family:'Courier New', Courier, monospace ;
}
img{
    border: 6px;
    border: snow;
    border-color: darkslateblue;
}

