
h1{
    color: rgba(192, 16, 98, 0.199);
    font-size:xx-large;
}
p{
    color: rgba(231, 74, 12, 0.76);
    font-family:'Courier New', Courier, monospace ;
}
img{
    border: 9px;
    border: snow;
    border-color: rgb(33, 197, 33);
}

