
h1{
    color:red;
    font-size:xx-large;
}
p{
    color:yellow;
    font-family:Arial, Helvetica, sans-serif;
}
img{
    border: 4px;
    border: solid;
    border-color: rgb(33, 197, 33);
}

